<?xml version="1.0"?>
<config>
<!--  <stores>
    <admin>
      <dev>
        <debug>
          <template_hints>1</template_hints>
          <template_hints_blocks>1</template_hints_blocks>
        </debug>
      </dev>
    </admin>
  </stores>        -->
  <modules>
    <Magebuzz_Rocketuncle>
      <version>0.1.0</version>
    </Magebuzz_Rocketuncle>
  </modules>
  <frontend>
    <routers>
      <rocketuncle>
        <use>standard</use>
        <args>
          <module>Magebuzz_Rocketuncle</module>
          <frontName>rocketuncle</frontName>
        </args>
      </rocketuncle>
    </routers>
    <layout>
      <updates>
        <rocketuncle>
          <file>rocketuncle.xml</file>
        </rocketuncle>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Rocketuncle>
          <files>
            <default>Magebuzz_Rocketuncle.csv</default>
          </files>
        </Magebuzz_Rocketuncle>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <rocketuncle>
        <use>admin</use>
        <args>
          <module>Magebuzz_Rocketuncle</module>
          <frontName>rocketuncle</frontName>
        </args>
      </rocketuncle>
    </routers>
  </admin>
  <adminhtml>    
    <events>         
      <controller_action_predispatch_adminhtml_sales_order_shipment_save>
        <observers>
          <magebuzz_set_status_delivery>
            <class>rocketuncle/observer</class>
            <method>controllerPredispatchAction</method>
          </magebuzz_set_status_delivery>
        </observers>
      </controller_action_predispatch_adminhtml_sales_order_shipment_save> 
      <controller_action_predispatch_adminhtml_sales_order_invoice_save>
        <observers>
          <magebuzz_predispatch_invoice_save>
            <class>rocketuncle/observer</class>
            <method>predispatchInvoiceSaveAction</method>
          </magebuzz_predispatch_invoice_save>
        </observers>
      </controller_action_predispatch_adminhtml_sales_order_invoice_save>
      <core_block_abstract_to_html_before>
        <observers>
          <magebuzz_set_template_invoice_tracking>
            <class>rocketuncle/observer</class>
            <method>setTemplateInvoiceTracking</method>
          </magebuzz_set_template_invoice_tracking>
        </observers>
      </core_block_abstract_to_html_before>
      <adminhtml_block_html_before>
        <observers>
          <magebuzz_addmassaction_post_rocketshipment>
            <class>rocketuncle/observer</class>
            <method>addMassActionPostShipment</method>
          </magebuzz_addmassaction_post_rocketshipment>
        </observers>
      </adminhtml_block_html_before>        
    </events>
    <layout>
      <updates>
        <rocketuncle>
          <file>rocketuncle.xml</file>
        </rocketuncle>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Rocketuncle>
          <files>
            <default>Magebuzz_Rocketuncle.csv</default>
          </files>
        </Magebuzz_Rocketuncle>
      </modules>
    </translate>
  </adminhtml>   
  <global>
    <events>
      <sales_order_shipment_save_after>
        <observers>
          <rocketuncle_sales_order_shipment_save_after>
            <type>singleton</type>
            <class>rocketuncle/observer</class>
            <method>sendOrderJson</method>
          </rocketuncle_sales_order_shipment_save_after>
        </observers>
      </sales_order_shipment_save_after>
      <core_block_abstract_prepare_layout_before>
        <observers>
          <magebuzz_core_block_prepare_layout_before>
            <type>model</type>
            <class>rocketuncle/observer</class>
            <method>addFieldRocketForOrderGrid</method>
          </magebuzz_core_block_prepare_layout_before>
        </observers>
      </core_block_abstract_prepare_layout_before>
    </events>
    <models>
      <rocketuncle>
        <class>Magebuzz_Rocketuncle_Model</class>
        <resourceModel>rocketuncle_mysql4</resourceModel>
      </rocketuncle>
      <rocketuncle_mysql4>
        <class>Magebuzz_Rocketuncle_Model_Mysql4</class>
        <entities>
          <rocketuncle>
            <table>rocketuncle</table>
          </rocketuncle>
        </entities>
      </rocketuncle_mysql4>
    </models>
    <resources>
      <rocketuncle_setup>
        <setup>
          <module>Magebuzz_Rocketuncle</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </rocketuncle_setup>
      <rocketuncle_write>
        <connection>
          <use>core_write</use>
        </connection>
      </rocketuncle_write>
      <rocketuncle_read>
        <connection>
          <use>core_read</use>
        </connection>
      </rocketuncle_read>
    </resources>
    <blocks>
      <rocketuncle>
        <class>Magebuzz_Rocketuncle_Block</class>
      </rocketuncle>
    </blocks>
    <helpers>
      <rocketuncle>
        <class>Magebuzz_Rocketuncle_Helper</class>
      </rocketuncle>
    </helpers>    
  </global>
  <default>
    <rocketuncle>
      <general>
        <active>1</active>
        <scope>order</scope>
        <service>AFTERNOON</service>
				<pickup_time>09:00</pickup_time>
      </general>
    </rocketuncle>
  </default>
</config>
